/*-------------- RESET --------------- */

/*html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}*/


/* ------------- Color-------------*/
/*

#b1d12d

*/



/* ------------- LAYOUT -------------*/

.story {
    padding: 0 1em;
    margin: 2em auto;
}

#facebookpage, #instagrampage{

    margin: 0.5em auto;
}

section{
    margin: 1em 0;
}

header {
    margin-top: 1em;
}

.carousel {
    margin-bottom: 15px;
}

.address-bar {
    margin-bottom: 15px;
}

#welcome-pic {
    margin-top: 1em;
}

.progress {
    border-radius: 0px;
}

.inner {
padding: 0 1em;
}

iframe {
    width: 100%;
    height: 100%
}

.information {
    padding: 15px 0;
}

figcaption {
    padding: 1em;
}

#facebookandinstagram {
    margin-top: 1em;
    height: 100%;

}


/*-------------- TYPOGRAPHY --------------*/

h4 {
    font-size: 1.2em;
    color: #b1d12d;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    letter-spacing: 6px;
    /*font-weight: bold;*/
}

h3 {
    letter-spacing: 1px;
}

.story p {
    font-size: 1.1em;
}

.restaurant p {
    font-size: 1.1em;
  letter-spacing: 1px;
}


/*--------- COLOUR SCHEME & BORDERS -------- */



body {

 background: #000;
  /*background:url(../images/Logo.jpeg) no-repeat center fixed;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}


.pattern {
    height: 2em;
    /*background:  url("../images/front-window-pattern-Web-final.png") no-repeat center fixed red;*/
}


.restaurant p {
  color: #b1d12d;
}


.btn-success {
 background:  url(../images/navabr/navbar9.jpg) center bottom repeat-x;
 background-size: auto 100%;
 border: 0px;
}

.btn-success:hover {
 background:  url(../images/navabr/navbar12.jpg) center bottom repeat-x;
 background-size: auto 100%;
}


/* ------  NAVIGATION ---------*/
a {
  color: #fff;
}

.phone a {
  font-size: 1.1em
  color: #fff;
}

.phone a:hover {
  color: #fff;
}


/*----mobile button----*/

#mobile-menu {
    display: block;
    height: 3em;
}

.menu-btn {
    /*transition: 0.3s;*/
    width: 3em;
    /*float: right;*/
    padding: .5em;
}







/*#booking {
    background: #ccc;
    width: 15em;
    height: 3em;
    padding: 1em 0.5em;
}

#booking-button {
    background: #eee;
    width: 15em;
    height: 3em;
    border-radius: 0.5em;
    padding: 1em 0.5em;
}*/


/* --------  IMAGES ------- */

img {
    width: 100%;
    height: 100%;
}


.social-media  img{
    width: 2em;
}

.tripadvisor{
    margin: 2em auto;
    width: 8em;
}




#trademark {
    width: 4em;
    height: 4em;
}

#links {
    /*margin: 0 auto;*/
}

#links img{
    width:260px;
    margin-bottom: 4px;
}

.special {
    display: block;
    width: 960px;
    margin:  0 auto;
}
/*--------- map ---------*/

#map {
    width: 100%;
    height: 100%;

}

/*--------- carousel ---------*/

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*--------- media ---------*/


#map {
    width: 22em;
    height: 16em;
    margin: 15px auto;

}


/*-------------------- MEDIA QUERIES ------------------*/



@media (min-width: 768px) {

    .story {
        margin: 3em auto;
    }


    .inner {
        width: 67em;
        margin: 0 auto;
        padding: 0;
    }

    #trademark {
    width: 7em;
    height: 100%;
    }

    #links img{
        width:230px;
    }

    #welcome-pic {
        margin-top: 2em;
    }

    .open-time {
        margin-bottom: 2em;
    }

    .tripadvisor{
        margin: 3em auto 2em;
    }

    /*-----nav-----*/

    .navbar-new a {
        text-decoration: none;
        display:inline-block;
        width:100%;
        height:100%;
        font-weight: bold;
        color: #ddd;
    }

    .navlink {
        border-right: #000 solid 1px;
    }



    .nav1 {
        border-radius: 10px 0 0 10px;
    }

    .nav5 {
        border-radius:  0 10px 10px 0;
    }

    .nav1, .nav2, .nav3, .nav4, .nav5 {
        padding: 0.5em 0;
    }

    .navbar-new {
        margin: 1em 0;
        display: flex;
        justify-content: ;

        /*list-style-type: none;*/
        background-color: #333;
        background:  url(../images/navabr/navbar7.jpg) center bottom repeat-x;
        background-size: auto 100%;

        border-radius: 10px 10px 10px 10px;
    }

    .navbar-new a:hover , .select{
        color: #fff;
        background: url(../images/navabr/navbar4.png) center bottom repeat-x;
        background-size: auto 100%;
    }



    /* --- mobile  menu---- */
    #mobile-menu {
        display: none;
        height: 3em;
    }

    .menu-btn {
        display: none;
    }

}

/*-------------------- MEDIA QUERIES ------------------*/



@media (max-width: 767px) {

    #email-form.col-sm-4{
        padding: 0.5em 2em;
    }

    #links img{
        width: 49%;
    }

    .home-header.menu-open {
        background-color: #000;
    }

    .navbar-new {
        width: 100%;
        display: none;
        position: absolute;
        top: 4em;
        background-color: #222;
        z-index: 100;
    }

    .navbar-new a {
        color: #eee;
        display: block;
        text-decoration: none;
    }

    .navbar-new a:hover, .select {
        background: url(../images/navabr/navbar4.png) center bottom repeat-x;
        color: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .nav1, .nav2, .nav3, .nav4, .nav5 {
        padding: 1em 0;
    }

    .navlink {
        border-bottom: #fff solid 1px;
    }

    .inner.innermobile {
        padding: 0;
    }

    .menu-btn:hover {
        background: #333;
    }
}

